/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@include mat-core();

$matera-colors: (
    50: #e3f2fd,
    100: #5ca6dc,
    200: #5ca6dc,
    300: #5ca6dc,
    400: #5ca6dc,
    500: #5ca6dc,
    600: #014aa4,
    700: #014aa4,
    800: #014aa4,
    900: #014aa4,
    A100: #5ca6dc,
    A200: #5ca6dc,
    A400: #014aa4,
    A700: #014aa4,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);


$primary: mat-palette($matera-colors, 600, 900, 400);
$accent:  mat-palette($matera-colors, 700, A100, A400);

$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    margin: 0px !important;
}

html *
{
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}